In [9]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# Creating Dataframe

In [7]:
df = pd.read_csv('/Users/panherbert/Documents/GitHub/metis-project-3/bank/bank-full.csv', sep=';')
df.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no

# Uploading to Database on AWS

In [24]:
engine = create_engine('postgresql://ubuntu@18.218.203.43:5432/metis-project-3')
df.to_sql('bank', engine)